@media screen {
  /* === FONT COLLECTION === */

  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;500;700&display=swap");

  @font-face {
    font-family: Plus Jakarta Sans;
    src: url(./Fonts/PlusJakartaSans-Regular.ttf);
  }

  /* === Universal CSS */

  * {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
  }

  /* === MAIN CSS === */

  .body {
    width: 100vw;
  }

  /* === HEADING AREA === */

  .heading-area {
    padding: 1.25rem 0rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
  .heading-area .lawliet-logo {
    flex: 1 0;
    text-align: center;
  }
  .heading-area nav {
    text-align: right;
    flex: 2 0;
    align-items: flex-end;
  }
  .heading-area nav ul li {
    display: inline-block;
    align-items: center;
    padding: 0.625rem 1.75rem;
  }
  .heading-area nav ul li a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.4375rem;
    letter-spacing: 0.09375rem;
    color: #2d2f30;
  }
  .heading-area .search-area {
    flex: 1 0;
    padding-right: 0.9375rem;
    line-height: 3.5rem;
    text-align: center;
  }
  .heading-area .search-area .img {
    align-content: center;
  }

  /* === HERO AREA === */

  .hero-area {
    display: flex;
    flex-flow: row nowrap;
    background-color: #f9f8f9;
    background-image: url(./img/lawliet-woman.png);
    background-image: url(./img/lawliet-woman.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 6.25rem 0 0 4.375rem;
  }
  .hero-left {
    flex: 1 0;
    padding-bottom: 2.1875rem;
    width: 50vw;
    display: flex;
    flex-flow: column wrap;
  }
  .hero-area .hero-left .hero-description .hero-title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 5.625rem;
    line-height: 6.75rem;
    letter-spacing: 0.02em;
    color: #094b72;
    flex: 1 0;
  }

  .hero-area .hero-left .hero-description .hero-summary {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.375rem;
    letter-spacing: 0.03125rem;
    color: #4f4f4f;
    margin: 2.875rem 0rem 2.625rem 0rem;
    flex: 1 0;
  }
  .hero-area .hero-left .hero-description .start-btn {
    width: 11.875rem;
    height: 5rem;
    background-color: #094b72;
    border-radius: 0.5rem;
    transition: all 0.5s;
    flex: 1 0;
  }
  .hero-area .hero-left .hero-description .start-btn:hover {
    background-color: #082e44;
  }
  .hero-area .hero-left .hero-description .start-btn a {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: 0.08em;
    color: #f9f8f9;
  }
  .hero-area .hero-left .hero-description .trust-line {
    width: 33.75rem;
    height: 1.9375rem;
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.9375rem;
    letter-spacing: 0.04em;
    color: #8b8c8c;
    margin: 7.1875rem 0rem 2.1875rem 0rem;
    flex: 1 0;
  }
  .hero-area .hero-left .partners-logo {
    width: 14.875rem;
    height: 5.5rem;
    flex: 1 0;
  }
  .hero-area .hero-left .partners-logo tr td {
    width: 5.625rem;
    height: 1.75rem;
    padding: 1rem;
  }
  .hero-area .hero-photo {
    flex: 1 0;
    width: 50vw;
    text-align: right;
  }

  /* === SUMMARY AREA === */

  #summary {
    width: 26.21rem;
    height: 18.875rem;
    margin: 10rem 0rem 0rem 15.625rem;
  }
  #summary h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.0202rem;
    color: #2d2f30;
  }
  #summary p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: 0.03125rem;
    color: #8b8c8c;
  }

  /* === SERVICE AREA === */

  .services-area {
    height: 100vh;
    background: #f2fcff;
    display: flex;
    flex-flow: row wrap;
  }
  .services-area .service-description {
    flex: 1 0;
  }
  .services-area .service-items {
    flex: 1 0;
    display: flex;
    flex-flow: row wrap;
  }
  .services-area .service-items .cards {
    background: #fcfcfc;
    box-shadow: 0rem 1.125rem 3.625rem 1rem rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 16rem;
    height: 16.25rem;
    margin: 4.375rem 0rem;
  }
  #service1,
  #service2 {
    flex: 1 0;
  }
  .services-area .service-items .cards img {
    width: 2.3125rem;
    height: 2.3125rem;
    margin: 0.625rem 0.625rem;
  }
  .services-area .service-items .cards h3 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.375rem;
    letter-spacing: 0.03125rem;
    color: #363940;
    margin: 0.625rem 0rem;
  }
  .services-area .service-items .cards p {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.01875rem;
    color: #8b8c8c;
    margin: 0.625rem 0rem;
  }

  /* === STATUS AREA === */

  .status-area {
    background-image: url(./img/BG.png);
    height: 45vh;
    position: relative;
  }
  .status-area .status-heading h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 900;
    font-size: 3.125rem;
    height: 4rem;
    line-height: 8.125rem;
    text-align: center;
    letter-spacing: 0.05em;
    font-feature-settings: "salt" on, "liga" off;
    color: #ffffff;
  }
  .status-area .status-heading p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 6.25rem;
    text-align: center;
    letter-spacing: 0.03125rem;
    font-feature-settings: "salt" on, "liga" off;
    color: #ffffff;
  }
  .status-area .status-body {
    position: absolute;
    left: 21.35%;
    right: 21.35%;
    top: 55.83%;
    bottom: 41.51%;
    display: flex;
    flex-flow: row wrap;
  }
  .status1,
  .status2 {
    text-align: center;
    border-right: 0.0625rem solid rgb(255, 255, 255, 0.4);
  }
  .status3 {
    text-align: center;
  }
  .status-area .status-body .status {
    flex: 1 0;
    height: 6rem;
  }
  .status-area .status-body .status .numeric-status {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    font-feature-settings: "salt" on, "liga" off;
    color: #ffffff;
  }
  .status-area .status-body .status .status-content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.003em;
    font-feature-settings: "salt" on, "liga" off;
    color: #ffffff;
  }

  /* === TESTIMONIAL AREA === */

  .testimonial-area {
    height: 85vh;
    background-color: #f4fbff;
  }
  .testimonial-area .testimonials {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
  }
  .testimonial-area h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    padding: 1.875rem 0rem;
    margin-bottom: 1.25rem;
    text-align: center;
    letter-spacing: 0.03125rem;
    font-feature-settings: "salt" on, "liga" off;
    color: #2d2f30;
  }
  .testimonials .testimonial1 {
    flex: 1 0;
    display: flex;
    flex-flow: column wrap;
  }
  .testimonials .testimonial2 {
    flex: 1 0;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }
  .testimonial-card {
    width: 33.75rem;
    height: 21.25rem;
    text-align: center;
    padding: 1.25rem;
    margin: auto;
    background-color: #ffffff;
    border-radius: 0.625rem;
    box-shadow: 0rem 0.625rem 1.25rem rgba(41, 41, 42, 0.07);
  }
  .testimonial-head {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1rem;
    text-align: center;
    font-feature-settings: "salt" on, "liga" off;
    color: #151617;
    padding: 0.625rem 0 0.3125rem 0;
  }
  .testimonial-body {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.03125rem;
    font-feature-settings: "salt" on, "liga" off;
    color: #4f4f4f;
    padding: 0.625rem;
  }

  /* === CLIENTS AREA === */

  .client {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    column-gap: 1.25rem;
    margin: 3.125rem 1.875rem 0 0;
  }
  .client .client-pic {
    flex: 1 0;
    text-align: right;
  }
  .client .client-bio {
    flex: 1 0;
    text-align: left;
  }
  .client-bio .client-name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-feature-settings: "salt" on, "liga" off;
    color: #151617;
  }
  .client-bio .designation {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-feature-settings: "salt" on, "liga" off;
    color: #4f4f4f;
  }

  /* === CONTACT DETAILS AREA === */

  .contact-area {
    display: flex;
    flex-flow: row wrap;
    height: 50vh;
  }
  .contact-area .contact-details-area {
    flex: 3 0;
  }
  .contact-details-area .contact-head {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.03125rem;
    font-feature-settings: "salt" on, "liga" off;
    color: #2d2f30;
    margin-left: 17.5rem;
    padding: 1.25rem 0;
  }
  .contact-details-area .contact-body {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.03125rem;
    color: #4f4f4f;
    margin-left: 17.5rem;
    padding: 0rem 0;
  }
  #callNow {
    background: #0f6e8c;
    border-radius: 0.5rem;
    color: #ffffff;
    padding: 1.375rem 2.5rem 0.75rem 2.5rem;
    margin-left: 17.5rem;
    display: inline-block;
    margin-top: 3.125rem;
    margin-bottom: 0.9375rem;
    transition: all 0.5s;
  }
  #callNow:hover {
    background-color: #094b72;
  }
  .fa-phone {
    display: inline-block;
    margin-right: 0.9375rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
  }
  #callNow .call-now {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.25rem;
    width: 13.6875rem;
    letter-spacing: 0.03125rem;
    color: #f9f8f9;
  }
  .contact-area .contact-img-area {
    flex: 1 0;
  }
  .contact-area .contact-img-area img {
    border-radius: 0 0 0 2.5rem;
    height: 50vh;
  }
  /* === ABOUT AREA START === */
  .about-area {
    height: 60vh;
    background-color: #0f6e8c;
    display: flex;
    flex-flow: row nowrap;
  }
  .about-area .logo {
    flex: 1 0;
    position: relative;
  }
  .about-area .logo .secondary-logo {
    position: absolute;
    left: 12.5rem;
    top: 6.25rem;
  }
  .about-area .about-details {
    flex: 1 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .about-area .about-details table {
    flex: 1 0;
    width: 33.75rem;
    height: 14.453125rem;
  }
  table thead th {
    text-align: left;
    padding-bottom: 1.25rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-feature-settings: "salt" on, "liga" off;
    color: #f4f5f7;
  }
  table tbody td {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    font-feature-settings: "salt" on, "liga" off;
    color: #eeeff4;
  }

  /* === FOOTER AREA === */

  footer {
    display: flex;
    height: 8vh;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #05546d;
  }
  footer > * {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
  }
  footer .copyright {
    text-align: left;
  }
  footer .copyright p {
    flex: 1 0;
    margin-left: 12.5rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    color: #d9dbe1;
  }
  footer .social-icons {
    text-align: right;
    justify-content: flex-end;
  }
  footer .social-icons img {
    margin-right: 12.5rem;
  }
}

/* TABLET SCREEN */

@media all and (max-width: 62em) {
}

/* LARGE PHONE SCREEN */

@media all and (max-width: 48em) {
}

/* X-SMALL SCREEN */

@media all and (max-width: 36em) {
}
