<<<<<<< HEAD
/* === FONT COLLECTION === */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;500;700&display=swap");

@font-face {
  font-family: Plus Jakarta Sans;
  src: url(./Fonts/PlusJakartaSans-Regular.ttf);
}

/* === Universal CSS */

* {
  margin: 0%;
  padding: 0%;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* === MAIN CSS === */

.body {
  width: 100vw;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* === HEADING AREA === */

.heading-area {
  padding: 20px 0px;
  width: 1024px;
  margin: auto;
}
.heading-area .lawliet-logo {
  float: left;
  width: 30%;
}
.heading-area nav {
  float: left;
  width: 60%;
  text-align: right;
}
.heading-area nav ul li {
  display: inline-block;
  align-items: center;
  padding: 10px 28px;
}
.heading-area nav ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2d2f30;
}
.heading-area .search-area {
  float: right;
  width: 10%;
  padding-right: 15px;
  line-height: 3.5;
  text-align: right;
}
.heading-area .search-area .img {
  align-content: center;
}

/* === HERO AREA === */

.hero-area {
  background-color: #f9f8f9;
  position: relative;
  padding: 100px 0px 30px 70px;
}

.hero-area .hero-description .hero-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #094b72;
}

.hero-area .hero-description .hero-summary {
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #4f4f4f;
  margin: 46px 0px 42px 0px;
}
.hero-area .hero-description .start-btn {
  width: 190px;
  height: 80px;
  background-color: #094b72;
  border-radius: 8px;
  transition: all 0.5s;
}
.hero-area .hero-description .start-btn:hover {
  background-color: #082e44;
}
.hero-area .hero-description .start-btn a {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140.5%;
  letter-spacing: 0.08em;
  color: #f9f8f9;
}
.hero-area .hero-description .trust-line {
  width: 540px;
  height: 31px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #8b8c8c;
  margin: 115px 0px 35px 0px;
}
.hero-area .partners-logo {
  width: 238px;
  height: 88px;
}
.hero-area .partners-logo tr td {
  width: 90px;
  height: 28px;
  padding: 16px;
}
.hero-area .hero-photo {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.hero-area .hero-photo img {
  width: 549px;
  height: 973.94px;
}

/* === SUMMARY AREA === */

#summary {
  width: 419.31px;
  height: 302px;
  margin: 160px 0px 0px 250px;
}
#summary h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.323077px;
  color: #2d2f30;
}
#summary p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #8b8c8c;
}

/* === SERVICE AREA === */

.services-area {
  width: 100%;
  height: 786px;
  background: #f2fcff;
}
.services-area .service-description {
  float: left;
  width: 50%;
}
.services-area .service-items {
  float: right;
  width: 50%;
}
.services-area .service-items .cards {
  background: #fcfcfc;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 24px;
  width: 256px;
  height: 260px;
  margin: 70px 0px;
}
#service1,
#service2 {
  float: left;
  width: 50%;
}
.services-area .service-items .cards img {
  width: 37px;
  height: 37px;
  margin: 10px 10px;
}
.services-area .service-items .cards h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #363940;
  margin: 10px 0px;
}
.services-area .service-items .cards p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: #8b8c8c;
  margin: 10px 0px;
}

/* === STATUS AREA === */

.status-area {
  background-image: url(./img/BG.png);
  height: 356px;
  position: relative;
}
.status-area .status-heading h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  height: 64px;
  line-height: 130px;
  text-align: center;
  letter-spacing: 0.05em;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}
.status-area .status-heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.5px;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}
.status-area .status-body {
  position: absolute;
  left: 21.35%;
  right: 21.35%;
  top: 55.83%;
  bottom: 41.51%;
}
.status1,
.status2 {
  float: left;
  width: 33.33%;
  text-align: center;
  border-right: 1px solid rgb(255, 255, 255, 0.4);
}
.status3 {
  float: left;
  width: 33.33%;
  text-align: center;
}
.status-area .status-body .status .numeric-status {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}
.status-area .status-body .status .status-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.003em;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}

/* === TESTIMONIAL AREA === */

.testimonial-area {
  height: 610px;
  background-color: #f4fbff;
}
.testimonial-area .testimonials {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.testimonial-area h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  padding: 30px 0px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  font-feature-settings: "salt" on, "liga" off;
  color: #2d2f30;
}
.testimonials .testimonial1 {
  flex: 1 0;
  margin-left: 100px;
}
.testimonials .testimonial2 {
  flex: 1 0;
  margin-right: 100px;
}
.testimonial-card {
  width: 540px;
  height: 220px;
  text-align: center;
  padding: 20px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}
.testimonial-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #151617;
  padding: 10px 0 5px 0;
}
.testimonial-body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  font-feature-settings: "salt" on, "liga" off;
  color: #4f4f4f;
  padding: 10px;
}

/* === CLIENTS AREA === */

.client {
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  margin: 50px 60px 0 0;
}
.client .client-pic {
  flex: 1 0;
  text-align: right;
}
.client .client-bio {
  flex: 1 0;
  text-align: left;
}
.client-bio .client-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "salt" on, "liga" off;
  color: #151617;
}
.client-bio .designation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #4f4f4f;
}

/* === CONTACT DETAILS AREA === */

.contact-area {
  display: flex;
  flex-flow: row wrap;
  height: 374px;
}
.contact-area .contact-details-area {
  flex: 3 0;
}
.contact-details-area .contact-head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.5px;
  font-feature-settings: "salt" on, "liga" off;
  color: #2d2f30;
  margin-left: 280px;
  padding: 20px 0;
}
.contact-details-area .contact-body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #4f4f4f;
  margin-left: 280px;
  padding: 15px 0;
}
#callNow {
  background: #0f6e8c;
  border-radius: 8px;
  color: #ffffff;
  padding: 22px 40px 12px 40px;
  margin-left: 280px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 15px;
  transition: all 0.5s;
}
#callNow:hover {
  background-color: #094b72;
}
.fa-phone {
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 10px;
  font-size: 20px;
}
#callNow .call-now {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  width: 219px;
  letter-spacing: 0.5px;
  color: #f9f8f9;
}
.contact-area .contact-img-area {
  flex: 1 0;
}
.contact-area .contact-img-area img {
  border-radius: 0 0 0 40px;
}
/* === ABOUT AREA START === */
.about-area {
  height: 450px;
  background-color: #0f6e8c;
  display: flex;
  flex-flow: row nowrap;
}
.about-area .logo {
  flex: 1 0;
  position: relative;
}
.about-area .logo .secondary-logo {
  position: absolute;
  left: 200px;
  top: 100px;
}
.about-area .about-details {
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-area .about-details table {
  flex: 1 0;
  width: 540px;
  height: 231.25px;
}
table thead th {
  text-align: left;
  padding-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: "salt" on, "liga" off;
  color: #f4f5f7;
}
table tbody td {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "salt" on, "liga" off;
  color: #eeeff4;
}

/* === FOOTER AREA === */

footer {
  display: flex;
  height: 70px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #05546d;
}
footer > * {
  flex: 1 0 50%;
}
footer .copyright {
  text-align: left;
  position: relative;
}
footer .copyright p {
  flex: 1 0;
  position: absolute;
  left: 200px;
  top: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #d9dbe1;
}
footer .social-icons {
  text-align: right;
  position: relative;
}
footer .social-icons img {
  position: absolute;
  right: 200px;
  top: 25px;
}
=======
/* === FONT COLLECTION === */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Playfair+Display:wght@400;500;700&display=swap");

@font-face {
  font-family: Plus Jakarta Sans;
  src: url(./Fonts/PlusJakartaSans-Regular.ttf);
}

/* === Universal CSS */

* {
  margin: 0%;
  padding: 0%;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

/* === MAIN CSS === */

.body {
  width: 100vw;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* === HEADING AREA === */

.heading-area {
  padding: 20px 0px;
  width: 1024px;
  margin: auto;
}
.heading-area .lawliet-logo {
  float: left;
  width: 30%;
}
.heading-area nav {
  float: left;
  width: 60%;
  text-align: right;
}
.heading-area nav ul li {
  display: inline-block;
  align-items: center;
  padding: 10px 28px;
}
.heading-area nav ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #2d2f30;
}
.heading-area .search-area {
  float: right;
  width: 10%;
  padding-right: 15px;
  line-height: 3.5;
  text-align: right;
}
.heading-area .search-area .img {
  align-content: center;
}

/* === HERO AREA === */

.hero-area {
  background-color: #f9f8f9;
  position: relative;
  padding: 100px 0px 30px 70px;
}

.hero-area .hero-description .hero-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #094b72;
}

.hero-area .hero-description .hero-summary {
  font-family: Plus Jakarta Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #4f4f4f;
  margin: 46px 0px 42px 0px;
}
.hero-area .hero-description .start-btn {
  width: 190px;
  height: 80px;
  background-color: #094b72;
  border-radius: 8px;
  transition: all 0.5s;
}
.hero-area .hero-description .start-btn:hover {
  background-color: #082e44;
}
.hero-area .hero-description .start-btn a {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140.5%;
  letter-spacing: 0.08em;
  color: #f9f8f9;
}
.hero-area .hero-description .trust-line {
  width: 540px;
  height: 31px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #8b8c8c;
  margin: 115px 0px 35px 0px;
}
.hero-area .partners-logo {
  width: 238px;
  height: 88px;
}
.hero-area .partners-logo tr td {
  width: 90px;
  height: 28px;
  padding: 16px;
}
.hero-area .hero-photo {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.hero-area .hero-photo img {
  width: 549px;
  height: 973.94px;
}

/* === SUMMARY AREA === */

#summary {
  width: 419.31px;
  height: 302px;
  margin: 160px 0px 0px 250px;
}
#summary h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.323077px;
  color: #2d2f30;
}
#summary p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #8b8c8c;
}

/* === SERVICE AREA === */

.services-area {
  width: 100%;
  height: 786px;
  background: #f2fcff;
}
.services-area .service-description {
  float: left;
  width: 50%;
}
.services-area .service-items {
  float: right;
  width: 50%;
}
.services-area .service-items .cards {
  background: #fcfcfc;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 24px;
  width: 256px;
  height: 260px;
  margin: 70px 0px;
}
#service1,
#service2 {
  float: left;
  width: 50%;
}
.services-area .service-items .cards img {
  width: 37px;
  height: 37px;
  margin: 10px 10px;
}
.services-area .service-items .cards h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #363940;
  margin: 10px 0px;
}
.services-area .service-items .cards p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  color: #8b8c8c;
  margin: 10px 0px;
}

/* === STATUS AREA === */

.status-area {
  background-image: url(./img/BG.png);
  height: 356px;
  position: relative;
}
.status-area .status-heading h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  height: 64px;
  line-height: 130px;
  text-align: center;
  letter-spacing: 0.05em;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}
.status-area .status-heading p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.5px;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}
.status-area .status-body {
  position: absolute;
  left: 21.35%;
  right: 21.35%;
  top: 55.83%;
  bottom: 41.51%;
}
.status1,
.status2 {
  float: left;
  width: 33.33%;
  text-align: center;
  border-right: 1px solid rgb(255, 255, 255, 0.4);
}
.status3 {
  float: left;
  width: 33.33%;
  text-align: center;
}
.status-area .status-body .status .numeric-status {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}
.status-area .status-body .status .status-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.003em;
  font-feature-settings: "salt" on, "liga" off;
  color: #ffffff;
}

/* === TESTIMONIAL AREA === */

.testimonial-area {
  height: 610px;
  background-color: #f4fbff;
}
.testimonial-area .testimonials {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.testimonial-area h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  padding: 30px 0px;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 0.5px;
  font-feature-settings: "salt" on, "liga" off;
  color: #2d2f30;
}
.testimonials .testimonial1 {
  flex: 1 0;
  margin-left: 100px;
}
.testimonials .testimonial2 {
  flex: 1 0;
  margin-right: 100px;
}
.testimonial-card {
  width: 540px;
  height: 220px;
  text-align: center;
  padding: 20px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
}
.testimonial-head {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #151617;
  padding: 10px 0 5px 0;
}
.testimonial-body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  font-feature-settings: "salt" on, "liga" off;
  color: #4f4f4f;
  padding: 10px;
}

/* === CLIENTS AREA === */

.client {
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  margin: 50px 60px 0 0;
}
.client .client-pic {
  flex: 1 0;
  text-align: right;
}
.client .client-bio {
  flex: 1 0;
  text-align: left;
}
.client-bio .client-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  font-feature-settings: "salt" on, "liga" off;
  color: #151617;
}
.client-bio .designation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #4f4f4f;
}

/* === CONTACT DETAILS AREA === */

.contact-area {
  display: flex;
  flex-flow: row wrap;
  height: 374px;
}
.contact-area .contact-details-area {
  flex: 3 0;
}
.contact-details-area .contact-head {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.5px;
  font-feature-settings: "salt" on, "liga" off;
  color: #2d2f30;
  margin-left: 280px;
  padding: 20px 0;
}
.contact-details-area .contact-body {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #4f4f4f;
  margin-left: 280px;
  padding: 15px 0;
}
#callNow {
  background: #0f6e8c;
  border-radius: 8px;
  color: #ffffff;
  padding: 22px 40px 12px 40px;
  margin-left: 280px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 15px;
  transition: all 0.5s;
}
#callNow:hover {
  background-color: #094b72;
}
.fa-phone {
  display: inline-block;
  margin-right: 15px;
  padding-bottom: 10px;
  font-size: 20px;
}
#callNow .call-now {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
  width: 219px;
  letter-spacing: 0.5px;
  color: #f9f8f9;
}
.contact-area .contact-img-area {
  flex: 1 0;
}
.contact-area .contact-img-area img {
  border-radius: 0 0 0 40px;
}
/* === ABOUT AREA START === */
.about-area {
  height: 450px;
  background-color: #0f6e8c;
  display: flex;
  flex-flow: row nowrap;
}
.about-area .logo {
  flex: 1 0;
  position: relative;
}
.about-area .logo .secondary-logo {
  position: absolute;
  left: 200px;
  top: 100px;
}
.about-area .about-details {
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-area .about-details table {
  flex: 1 0;
  width: 540px;
  height: 231.25px;
}
table thead th {
  text-align: left;
  padding-bottom: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-feature-settings: "salt" on, "liga" off;
  color: #f4f5f7;
}
table tbody td {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-feature-settings: "salt" on, "liga" off;
  color: #eeeff4;
}

/* === FOOTER AREA === */

footer {
  display: flex;
  height: 70px;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #05546d;
}
footer > * {
  flex: 1 0 50%;
}
footer .copyright {
  text-align: left;
  position: relative;
}
footer .copyright p {
  flex: 1 0;
  position: absolute;
  left: 200px;
  top: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #d9dbe1;
}
footer .social-icons {
  text-align: right;
  position: relative;
}
footer .social-icons img {
  position: absolute;
  right: 200px;
  top: 25px;
}
>>>>>>> cbfb8405a4ffc56c7f9009d17466a815914afa5e
